.container {
	width: 100%;
	min-height: 100dvh;
	position: relative;
	// background: linear-gradient(
	// 	45deg,
	// 	var(--mantine-color-purple-8),
	// 	var(--mantine-color-lilac-7),
	// 	var(--mantine-color-purple-8),
	// 	var(--mantine-color-lilac-6),
	// 	var(--mantine-color-blue-7),
	// 	var(--mantine-color-purple-7),
	// 	var(--mantine-color-blue-9)
	// );
	// background-size: 400% 400%;
	// animation: gradientWave 20s ease-in-out infinite;
}

// @keyframes gradientWave {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }

